.circle {

    background-size: 450px;

    width: 62px;

    height: 62px;

    border-radius: 50%;

    display: inline-block;

    border-style: solid;

    border-width: 3px;

    border-color: #808080;
}

.rounded-rectangle {

    background-size: 450px;
    width: 62px;
    height: 62px;
    border-radius: 20%;
    display: inline-block;
    border-style: solid;
    border-width: 3px;
    border-color: #808080;
}

.i {
    background-image: url(../img/icon-list.png);

}

.i-person {
    background-position-x: -32px;
    background-position-y: -35px;
}

.i-phone {
    background-position-x: -138px;
    background-position-y: -35px;
}

.i-message {
    background-position-x: -247px;
    background-position-y: -33px;
}

.i-clock {
    background-position-x: -354px;
    background-position-y: -34px;
}

.i-music {
    background-position-x: -35px;
    background-position-y: -140px;
}

.i-photo {
    background-position-x: -138px;
    background-position-y: -140px;
}

.i-photocamera {
    background-position-x: -247px;
    background-position-y: -140px;
}

.i-videocamera {
    background-position-x: -354px;
    background-position-y: -140px;
}

.i-webcam {
    background-position-x: -32px;
    background-position-y: -250px;
}

.i-microphone {
    background-position-x: -140px;
    background-position-y: -250px;
}

.i-trashcan {
    background-position-x: -247px;
    background-position-y: -248px;
}

.i-find {
    background-position-x: -354px;
    background-position-y: -248px;
}

.i-location {
    background-position-x: -32px;
    background-position-y: -355px;
}

.i-setting {
    background-position-x: -138px;
    background-position-y: -355px;
}

.i-speaker {
    background-position-x: -247px;
    background-position-y: -355px;
}

.i-note {
    background-position-x: -354px;
    background-position-y: -355px;
}